<div class="full-width-div">

  <strong><h1>Grocery:</h1></strong><br />

  <br />
  <div class="form-group d-flex justify-content-center">
    <input
      style="width: 30%"
      type="text"
      name="productname"
      class="form-control"
      placeholder="Product-Name"
      [(ngModel)]="productname"
    />
  </div>
  <div class="form-group d-flex justify-content-center">
    <input
      style="width: 30%"
      type="number"
      name="quantity"
      class="form-control"
      placeholder="Quantity"
      [(ngModel)]="quantity"
    />
  </div>
  <div class="form-group d-flex justify-content-center">
    <input
      style="width: 30%"
      type="number"
      name="price"
      class="form-control"
      placeholder="Price per kg"
      [(ngModel)]="price"
    />
  </div>

  <div class="text-center">
    <button (click)="adddetails()" class="btn btn-dark">ADD TO CART</button>
<br><br>
    <button (click)="reset()" class="btn btn-dark">Clear</button>
  
  </div>
  <br />
  <table class="center">
    <tr>
      <th>NO</th>

      <th>Product-Name</th>

      <th>Quantity</th>

      <th>Price per kg</th>

      <th class="total">Total</th>
    </tr>
    <tr *ngFor="let list of listofDetails; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ list.productname }}</td>
      <td>{{ list.quantity }}</td>
      <td>{{ list.price }}</td>
      <td>{{ list.total }}</td>
    </tr>
    <tr>
      <td right>GrandTotal:{{ grandTotal }}</td>
    </tr>
  </table>
  <app-rest></app-rest>
</div>